<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>

    <link
    rel="stylesheet"
    href="{% static request.user.username|add:'/'|add:path|add:'/css/style.css' %}"
  />
  
    <script>
      var user = "{{request.user.username}}"
    </script>

  </head>
  <body>
    {% block header %} {% include 'header.html' %} {% endblock header %}

    <div class="h-85 d-flex justify-content-center align-items-center">
      <h3 class="text-center">Fluid layout - {{request.user.username|title}}</h3> Aesome
    </div>

    {% block footer %} {% include 'footer.html' %} {% endblock footer %}
    <script src="{% static request.user.username|add:'/'|add:path|add:'/js/main.js' %}"></script>
  </body>
</html>