<!DOCTYPE html>
{% load static %}
{% load extras %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
    <link
    rel="stylesheet"
    href="{% static request|get_static_path:path|add:'/css/style.css' %}"
  />
    <script>
      var user = '{{username}}'
    </script>
  </head>
  <body>
    <h3 class="text-center">Fixed Layout - {{username}}</h3>

    <script src="{% static request|get_static_path:path|add:'/js/main.js' %}"></script>
  </body>
</html>
