<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
    <style>
      .text-center {
        text-align: center;
      }

      .h-85 {
        height: 85vh;
      }

      .d-flex{
        display: flex;
      }

      .justify-content-center{
        justify-content: center;
      }

      .align-items-center{
        align-items: center;
      }
    </style>
  </head>
  <body>
    {% block header %} {% include 'header.html' %} {% endblock header %}

    <div class="h-85 d-flex justify-content-center align-items-center">
      <h3 class="text-center">Fluid layout</h3>
    </div>

    {% block footer %} {% include 'footer.html' %} {% endblock footer %}
  </body>
</html>